.fav {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' width='40'%3E%3Cpath d='M20 33.875 18.5 32.5q-4.25-3.875-7.021-6.667-2.771-2.791-4.396-4.958-1.625-2.167-2.271-3.937-.645-1.771-.645-3.521 0-3.5 2.333-5.834Q8.833 5.25 12.292 5.25q2.291 0 4.27 1.125Q18.542 7.5 20 9.625q1.583-2.208 3.521-3.292 1.937-1.083 4.187-1.083 3.459 0 5.792 2.333 2.333 2.334 2.333 5.834 0 1.75-.645 3.521-.646 1.77-2.271 3.937t-4.396 4.958Q25.75 28.625 21.5 32.5Z'/%3E%3C/svg%3E");
}
.home:before {
  content: "\e902";
}
.logout {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' width='40'%3E%3Cpath d='M8.583 35q-1.041 0-1.812-.771Q6 33.458 6 32.375V8.458q0-1.083.771-1.854.771-.771 1.812-.771H20v2.084H8.583q-.166 0-.333.166-.167.167-.167.375v23.917q0 .208.167.375t.333.167H20V35Zm18.834-8-1.5-1.458L30 21.458H15.5v-2.083h14.458l-4.083-4.083 1.5-1.5L34 20.458Z'/%3E%3C/svg%3E");
}
.menu {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' width='40'%3E%3Cpath d='M5.417 29.375v-2.083h29.166v2.083Zm0-8.333v-2.084h29.166v2.084Zm0-8.334v-2.083h29.166v2.083Z'/%3E%3C/svg%3E");
}
.search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' width='40'%3E%3Cpath d='M32.833 34.292 22.125 23.583q-1.25 1.084-2.896 1.667t-3.396.583q-4.25 0-7.208-2.937-2.958-2.938-2.958-7.146 0-4.25 2.958-7.188 2.958-2.937 7.167-2.937 4.208 0 7.166 2.937 2.959 2.938 2.959 7.188 0 1.75-.605 3.396-.604 1.646-1.687 2.937L34.333 32.75ZM15.792 23.75q3.375 0 5.687-2.333 2.313-2.334 2.313-5.667 0-3.375-2.313-5.708-2.312-2.334-5.687-2.334-3.334 0-5.688 2.334Q7.75 12.375 7.75 15.75q0 3.333 2.354 5.667 2.354 2.333 5.688 2.333Z'/%3E%3C/svg%3E");
}
