.mycard {
  background: var(--background-color);
  border: solid 8px var(--color-primario);
  border-radius: 0px;
  margin: 10% auto;
  /* <---  Fonts  --->*/
  font-family: var(--font-text);
  font-size: var(--font-text-size);
  font-style: italic;

  /* <---  Flexbox & Position  --->*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  /* <---  Size  --->*/
  width: 90%;
  height: 330px;
  min-width: 190px;
  max-width: 200px;
  min-height: 250px;
  max-height: 350px;
  border-radius: 20px;

  /* <---  Transitions  --->*/
  transition: all ease-in-out 0.2s;
}
.mycard:hover {
  box-shadow: 0px -1px 11px 1px var(--color-secundario);
  -webkit-box-shadow: 0px -1px 11px 1px var(--color-secundario);
  -moz-box-shadow: 0px -1px 11px 1px var(--color-secundario);
}

.Titles {
  color: var(--color-info);
  z-index: 1;
  transition: all 0.5s;
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
}

.name {
  font-family: var(--font-title);
  font-size: var(--font-title-size);
  background: var(--color-primario);
  color: var(--color-text-button);
  font-weight: bold;
  width: 100%;
  height: 100%;
  min-height: 80px;
  max-height: 95px;
}
.isFav {
  width: 100%;
  z-index: 10;
}
.isFav button {
  background: var(--color-primario);
  height: 55px;
  width: 55px;
  border-radius: 100%;
  margin: 10px;
}
.CloseBtn {
  background: var(--color-primario);
  height: 55px;
  width: 55px;
  border-radius: 100%;
  margin: 10px;
}
.SpanButton {
  color: var(--color-primario);
  width: 100%;
  z-index: 2;
}
.species {
  margin-top: 5px;
}

.CardImg {
  width: 100%;
  height: 250px;
  opacity: 1;
  z-index: 1;
  transition: all ease-in-out 0.3s;
}

.mycard:hover .CardImg {
  z-index: -1;
  height: 0px;
  opacity: 0;
}
.container {
  width: 100%;
  background: var(--background-color);
  z-index: 2;
}
.detail {
  color: var(--color-primario);
  z-index: 1;
  width: 100%;
  transition: all 0.5s;
  margin: 0;
  text-decoration: none;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
