body {
  background: url("./images/background.png");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: var(--font-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
